/*
Typography
font-family: 'Cabin', sans-serif;
Colors used
Text Color (Gray): #333333;
Button Color: #f7b3b1;
Primary Color: #f7ede2;
Secondary Color: #f28482;
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---- COMMON ----------------------------------------------------- */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  background-color: #f7ede2;
  color: #333;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  position: relative;
  padding-bottom: 95px;
  min-height: 100vh;
}

.about-page,
.work-page {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

span {
  background-color: #f28482;
  color: white;
}

a {
  color: #333;
}

a:visited {
  color: #333;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #f28482;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #f7b3b1;
  color: white;
  text-decoration: none;

  /* adds spacing to the button */
  padding: 10px;
  border-radius: 5px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* transition: [trans.-property *] [trans.-duration *] [trans.-timing-function (default="ease")] [trans.-delay (default="0")] */
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #f7b3b1;
  color: white;
  text-decoration: none;

  /* adds spacing to the button */
  padding: 10px;
  border-radius: 5px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* transition: [trans.-property *] [trans.-duration *] [trans.-timing-function (default="ease")] [trans.-delay (default="0")] */
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.6;
}

.cvbutton:visited {
  color: white;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* ---- MAIN PAGE -------------------------------------------------- */

.main-page {
  width: 100%;
  margin: auto;
}

/* ---- HEADER ----------------------------------------------------- */

.page-header {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 8px 30px;
  background-color: #f28482;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header,
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-top: 12px;
}

/* ---- HOME PAGE -------------------------------------------------- */

.home__message {
  background-color: #f28482;
  text-align: center;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 440px;
  font-size: 35px;
}

.home__message a {
  font-size: 18px;
  color: #f7ede2;
}

/* ---- ABOUT PAGE -------------------------------------------------- */

.about-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.about__info {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  text-align: center;
  -ms-grid-columns: 1/ 1;
  grid-template-columns: 1/ 1;
  margin-top: auto;
  margin-bottom: auto;
}

.about__info h1 {
  text-align: center;
}

.about__portrait {
  width: 70%;
  min-width: 300px;
  height: auto;
  margin: auto;
  border-radius: 50%;
  -ms-grid-columns: 2/ 2;
  grid-template-columns: 2/ 2;
}

.about__table {
  margin: auto;
}

.skill-table {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.skill-table__row {
  background-color: #f7b3b1;
}

.skill-table__cell {
  background-color: #f7b3b1;
  padding: 5px 10px;
}

/* ---- WORK ----------------------------------------------------- */

.work-page {
  padding-top: 60px;
}

.project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.project-list__item {
  display: inline-block;
  background-color: #f28482;
  padding: 20px;
  width: auto;
  min-height: auto;
  margin: 0;
}

.project-list__item img {
  width: 90%;
}

.project-list__item:last-child {
  /* grid-column: 3/ 3;
  grid-row: 2/ 4; */
}

/* ---- CONTACT ----------------------------------------------------- */

.contact-page {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.vector-animation {
  max-width: 400px;
  margin: auto;
  -ms-flex-item-align: right;
  -ms-grid-row-align: right;
  align-self: right;

}

.contact-infos {
  display: inline-block;
  padding: 30px 0 60px;
}

/* ---- FOOTER ----------------------------------------------------- */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: #f7ede2;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 95px;
  width: 100%;
}

.footer__icon {
  width: 30px;
}

/* ---- CASE STUDIES ----------------------------------------------------- */

.case-study-title {
  margin-top: 70px;
  text-align: center;
}

.case-study-title h1 {
  margin-top: 0;
}

.my-movie-box-logo {
  height: 75px;
}

.case-study-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 25px;
}

.case-study-details__item {
  display: inline-block;
  padding: 20px;
  width: auto;
  min-height: auto;
  margin: 0;
  text-align: justify;
}

.case-study-details__item h2 {
  text-align: center;
}

.case-study-about-js,
.case-study-retrospective,
.case-study-about-server-side,
.case-study-about-client-side,
.case-study-retrospective-my-movie-box {
  display: -ms-grid;
  display: grid;
  padding: 30px 40px;
  margin: auto;
}

.case-study-about-js {
  -ms-grid-columns: 45% 55%;
  grid-template-columns: 45% 55%;
}

.case-study-about-server-side,
.case-study-about-client-side {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.case-study-retrospective {
  -ms-grid-columns: 40% 1fr;
  grid-template-columns: 40% 1fr;
}

.case-study-about-js__text,
.case-study-about-server-side__text,
.case-study-about-client-side__text {
  text-align: left;
  padding-right: 40px;
  margin: auto;
}

.case-study-about-client-side__text {
  padding-right: 0;
  padding-left: 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-row: 1;
  grid-row: 1/ 1;
}

.case-study-about-js__image,
.case-study-about-server-side__image,
.case-study-about-client-side__image {
  width: 100%;
  margin: auto;
}

.case-study-about-client-side__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 1;
  grid-row: 1/ 1;
}

.case-study-retrospective__text {
  text-align: left;
  margin: auto;
}

.case-study-retrospective__image {
  width: 100%;
  margin: auto;
  padding-right: 40px;
}

.case-study-retrospective__link {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
}

.case-study-retrospective__link a {
  margin: 20px;
  white-space: nowrap;
}

/* ---- MEDIA QUERIES ----------------------------------------------------- */

@supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
}

@media all and (max-width: 570px) {
  html {
    scroll-padding-top: 175px;
  }

  .page-header {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
  }

  .page-header__item {
    -ms-flex-preferred-size: 40px;
    flex-basis: 40px;
  }

  .page-header a,
  .page-header img {
    width: 185px;
    margin: auto;
    text-align: center;
  }

  .page-header,
  .page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
  }

  .navigation-list li {
    margin: 2px 10px;
  }

  .about__portrait {
    width: 60%;
  }
}

@media all and (max-width: 700px) {
  h1 {
    text-align: center;
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  a,
  p,
  th,
  td {
    font-size: 16px;
  }

  .main-page {
    padding: 0;
  }

  .home__message {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    height: 370px;
  }

  .about__info {
    padding: 10px;
  }

  .about__message {
    padding: 20px;
  }

  .about__portrait {
    width: 50%;
  }

  .work-page {
    padding: 20px;
  }

  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 30px;
    margin: auto;
  }
}

@media all and (max-width: 780px) {
  .about-page {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: auto;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
    padding: 0;
  }

  .about__portrait {
    width: 30%;
    -ms-grid-row: 1;
    grid-row: 1/ 1;
    margin: auto;
    margin-top: 40px;
  }

  .about__info {
    margin: auto;
    padding: 5 10px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
  }

  .case-study-details {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .case-study-details__item {
    padding: 0 30px;
    margin: 0;
    text-align: left;
  }

  .case-study-details__item h2 {
    text-align: left;
  }

  .case-study-retrospective {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case-study-retrospective__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }

  .case-study-retrospective__image {
    padding: 10px 20px;
  }
}

@media all and (min-width: 701px) and (max-width: 855px) {
  .project-list {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 630px) and (max-width: 820px) {
  .case-study-retrospective {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case-study-retrospective__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }

  .case-study-retrospective__image {
    width: 50%;
    padding: 0;
  }
}

@media all and (max-width: 800px) {
  .case-study-about-client-side {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case-study-about-client-side__image {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
  }

  .case-study-about-client-side__text {
    padding-left: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }
}

@media all and (max-width: 850px) {
  .contact-page {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 0 30px;
    text-align: center;
  }

  .case-study-about-js {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 801px) and (max-width: 950px) {
  .case-study-about-client-side {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case-study-about-client-side__image {
    width: 70%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
  }

  .case-study-about-client-side__text {
    padding-left: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }
}

@media all and (min-width: 750px) and (max-width: 980px) {
  .case-study-about-js {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case-study-about-js__text {
    padding-right: 0;
  }

  .case-study-about-js__image {
    width: 70%;
    margin: auto;
    margin-top: 15px;
  }
}

@media all and (min-width: 1301px) and (max-width: 1650px) {
  .case-study-about-server-side {
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
  }
}

@media all and (max-width: 1300px) {
  .case-study-about-server-side {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .case-study-about-server-side__text {
    padding-right: 0;
  }
}

@media all and (min-width: 1000px) and (max-width: 1299px) {
  .case-study-about-server-side__image {
    width: 75%;
  }

  .case-study-about-server-side__images {
    display: -ms-grid;
    display: grid;
    margin: auto;
  }
}

@media all and (min-width: 1315px) {
  .about__info {
    background-color: #f28482;
    margin-left: 10%;
  }

  .about__portrait {
    width: 80%;
    border-radius: 0%;
  }

  .case-study-about-client-side {
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
  }

  .case-study-retrospective {
    -ms-grid-columns: 30% 1fr;
    grid-template-columns: 30% 1fr;
  }
}

@media all and (min-width: 1400px) {

  .case-study-title,
  .case-study-details,
  .case-study-about-js,
  .case-study-retrospective,
  .case-study-about-server-side,
  .case-study-about-client-side,
  .case-study-retrospective-my-movie-box {
    padding-left: 120px;
    padding-right: 120px;
  }

  .case-study-about-js {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .case-study-about-js__image {
    width: 90%;
  }
}

/* ---- ANIMATIONS ----------------------------------------------------- */

@-webkit-keyframes opacity {
  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

@keyframes opacity {
  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

.bubble-if,
.bubble-semicolon,
.bubble-else,
.bubble-exclamation-equal,
.bubble-brace,
.bubble-equal,
.bubble-less-than,
.bubble-for,
.bubble-square-bracket {
  opacity: 0;
  -webkit-animation: 15s opacity infinite linear;
  animation: 15s opacity infinite linear;
}

.bubble-semicolon {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.bubble-else {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.bubble-exclamation-equal {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.bubble-brace {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.bubble-equal {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.bubble-less-than {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.bubble-for {
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

.bubble-square-bracket {
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
}