/*
Typography

font-family: 'Cabin', sans-serif;

Colors used

Text Color (Gray): #333333;
Links Color (Green): #2c665d;
Grade Color (Light Green): #bbebe3;
 */

 :root {
    --text-color: #333333;
    --button-color: #357b70;
    --visited-link-color: #173530;
    --primary-color: #bbebe3;
    --secondary-color: #2c665d;
  }


* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    /* border-bottom-style: inset; */
    background-color: var(--primary-color);
}

.page-header__item {
    flex: 0 1 200px;
    /* [flex-grow: 0] [flex-shrink:1] [flex-basis:200px] */
}

/*
.page-header__item:first-child {
    max-width: 200px;
}*/

.page-header .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px;
}

.profile, .about, .contact {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    width: 250px;
    float: left;
    margin-right: 40px;
    border-radius: 50%;
}

.about, .contact, .work {
    text-align: center;
}

.skill-table {
    max-width: 700px;
    margin: 0 auto;
}

.skill-table__row {
    background-color: var(--primary-color);
}

.skill-table__cell {
    background-color: var(--primary-color);
    padding: 7px 15px;
}


body {
    background-color: white;
    /* TBD */
    color: var(--text-color);
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: var(--secondary-color);
}

a:visited {
    color: var(--visited-link-color);
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: var(--secondary-color);
}

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* transition: [trans.-property *] [trans.-duration *] [trans.-timing-function (default="ease")] [trans.-delay (default="0")] */
    transition: 0.5s opacity;
}

button:hover, button:focus,
.button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.cvbutton:visited {
    color: white;
}

.navigation-list__item--active {
    text-decoration: none;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    background-color: var(--primary-color);

}

.footer__icon {
    width: 30px;
}

/* start grid fallback */
.project-list__item {
    display: inline-block;
    width: 33%;
}

/* end grid fallback */


@supports (display: grid) {
    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

.project-list__item {
    background-color: var(--primary-color);
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
}

.project-list__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media all and (max-width: 500px) {
    .project-list {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {

    /* Shared code between 0px -> 750px */
    .project-list {
        grid-gap: 10px;
    }

    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

@keyframes opacity {
    5% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    75% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
}

.bubble-if, .bubble-semicolon, .bubble-else, .bubble-exclamation-equal, .bubble-brace, .bubble-equal, .bubble-less-than, .bubble-for, .bubble-square-bracket {
    opacity: 0;
    animation: 15s opacity infinite linear;
}

.bubble-semicolon {
    animation-delay: 2s;
}

.bubble-else {
    animation-delay: 3s;
}

.bubble-exclamation-equal {
    animation-delay: 5s;
}

.bubble-brace {
    animation-delay: 6s;
}

.bubble-equal {
    animation-delay: 8s;
}

.bubble-less-than {
    animation-delay: 10s;
}

.bubble-for {
    animation-delay: 11s;
}

.bubble-square-bracket {
    animation-delay: 13s;
} 
